server:
  port: 8000

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://localhost:8761

spring:
  cloud:
    gateway:
      routes:
        - id: first-service
          uri: http://localhost:8081/
          predicates:
            - Path=/first-service/**
          filters:
#            - AddRequestHeader=my-first-request, mymyfirst-reequest
#            - AddResponseHeader=my-first-response, mymyfirst-response
            - CustomFilter

        - id: second-service
          uri: http://localhost:8082/
          predicates:
            - Path=/second-service/**
          filters:
#            - AddRequestHeader=my-secound-requeest, mymysecound-request
#            - AddResponseHeader=my-secound-response, mymysecound-request
            - CustomFilter

  application:
    name: apigateway-service




